<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.moviewalk.moviewalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MovieWalk"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:usesCleartextTraffic="true">
        <activity android:name=".MapActivity_multipoint"></activity>
        <activity android:name=".MapActivity_route"></activity>
        <activity android:name=".routeListActivity" />
        <activity android:name=".BookmarkSelect" />
        <activity android:name=".HotelActivity" />
        <activity android:name=".BookmarkListActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchListActivity" />
        <activity android:name=".MapActivity" />
    </application>

</manifest>